<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js' ></script>
    <title>Document</title>
</head>
<body>
 
    <nav class="nav-bar">
        <div class="nav-icon center-items back-icon">
            <i class="fa">&#xf053;</i>
        </div> 
        <div class="nav-icon center-items like-icon">
            <i class='far'>&#xf004;</i> 
        </div>
        <div class="nav-icon center-items bag-icon">
            <i  class="fa">&#xf290;</i>
        </div>
    </nav>
    <h1 class="center-items title">
        Accessories
    </h1>
    
    <div class="type-nav ">
        
        <div class="type center-items">
            All
        </div>
        {% block content %}
            {% for category in categories%}
        <div class="type center-items">
            {{ category.name  }}
        </div>
            {% endfor %}
        
        
    </div>    

    
    <div class="market-area">
       
            {% for product in products %}
        <div class="product-card">
            <img src= {{ product.featured_image.src }} alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>{{ product.name }}</h3>
                <span class="price">Rs.{{product.retail_price.value}} </span>
                <span class="original-price">Rs.{{product.base_price.value}} </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>
            {% endfor %}
        {% endblock content %}
    </div>    
        
<!--         
        
        <div class="product-card ">
            <img src="https://images.unsplash.com/photo-1620798692285-a130892d3e38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>Empty Dome Ring-Rose</h3>
                <span class="price">Rs800 </span>
                <span class="original-price">Rs800 </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>
        <div class="product-card">
            <img src="https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>Empty Dome Ring-Rose</h3>
                <span class="price">Rs800 </span>
                <span class="original-price">Rs800 </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>
        
        
        
        
        <div class="product-card ">
            <img src="https://images.unsplash.com/photo-1620798692285-a130892d3e38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>Empty Dome Ring-Rose</h3>
                <span class="price">Rs800 </span>
                <span class="original-price">Rs800 </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>
        <div class="product-card">
            <img src="https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>Empty Dome Ring-Rose</h3>
                <span class="price">Rs800 </span>
                <span class="original-price">Rs800 </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>
        
        
        
        
        <div class="product-card ">
            <img src="https://images.unsplash.com/photo-1620798692285-a130892d3e38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" alt="" class="card-img">
            <div class="item-like center-items">
                <i class='far'>&#xf004;</i> 
            </div>
            <div class="seller-name">
                <p>Jewellery by Mitali Jain</p>
            </div>
            <div class="desc">
                <h3>Empty Dome Ring-Rose</h3>
                <span class="price">Rs800 </span>
                <span class="original-price">Rs800 </span>
                <span class="discount">(0% off)</span>
            </div>
        </div>


    </div>

    



     
  
     -->
</body>
</html>